page-login {
  ion-content{
    background: -moz-linear-gradient(top, $main 0%, $main 0%, $main 0%, $gradientTop 100%);
    background: -webkit-linear-gradient(top, $main 0%,$main 0%,$main 0%,$gradientTop 100%);
    background: linear-gradient(to bottom, $main 0%,$main 0%,$main 0%,$gradientTop 100%);
    .connexion{
      margin-bottom: 50px;
      span{
        color: $white;
        text-decoration: none;
        font-family: poppinssemibold;
        font-size: 12px;
        letter-spacing: 0.06em;
      }
    }
    .loginTitle{
      color: white;
      font-size: 25px;
      font-family: poppinslight;
      strong {
        font-family: poppinsbold;
        letter-spacing: 0.04em;
        margin-top: -8px;
        display: block;
      }
    }
    h2{
      color: white;
    }
    .logFacebook{
      background-color: $white;
      color : $pinkText;
      border: none;
      margin-bottom: 15px;
      ion-icon{
        margin-right: 10px;
      }
    }
    .createAccount{
      color: $white;
      border-color: $white;
      margin-bottom: 50px;
    }
    .logFacebook,
    .createAccount{
      display: block;
      width: 100%;
      padding: 22px 0;
    }
    .loginButton span {
      text-transform: none;
      font-family: poppinssemibold;
      font-size: 12px;
      letter-spacing: 0.04em;
    }
    p{
      color: $white;
      font-size: 12px;
    }
    .login-legal{
      text-align: left;
      span{
        text-decoration: underline;
      }
    }
    .scroll-content{
      overflow: hidden;
    }
  }

}
