page-single {
  ion-header{
    ion-icon{
      color: $white;
      position: absolute;
      top: 10%;
      left: 5%;
      font-size: 30px;
      font-weight: bold;
    }
  }
  ion-content{
    .desc{
      color: $main;
      font-family: poppinssemibold;
      text-transform: uppercase;
      margin: 0;
      letter-spacing: 0.04em;
      font-size: 11px;
    }
    h4{
      margin: 5px 0 15px;
      font-size: 16px;
      font-family: poppinssemibold;
    }
    .photo{
      margin-top: 10px;
      font-size: 2.2em;
    }
    .content-ios hr{
      height : auto!important;
    }
    .button-ios{
      font-size : 10px;
      background-color: $main;
    }
    p{
      font-size: 12px;
      font-family: poppinslight;
      margin: 0;
    }
    .pixel {
      height: 1px;
    }
    ion-col{
      padding: 0 !important;
    }
    .propertyInfos {
        margin: 15px 0 25px;
        ion-icon{
          width: 13px;
          height: 13px;
          background-size: cover !important;
          position: relative;
          top: 2px;
          margin-right: 5px;
          &[name="duckbnb-number-persons"]{
            background: url(../../assets/imgs/duckbnb-number-persons.png);
          }
          &[name="duckbnb-type-property"]{
            background: url(../../assets/imgs/duckbnb-type-property.png);
          }
          &[name="duckbnb-number-bed"]{
            background: url(../../assets/imgs/duckbnb-number-bed.png);
          }
          &[name="duckbnb-number-bath"]{
            background: url(../../assets/imgs/duckbnb-number-bath.png);
          }
        }
    }
    .thumbProperty{
      width: 40px;
      height: 40px;
      background: url(../../assets/imgs/profil.png);
      background-size: cover;
      background-position: center;
      border-radius: 100%;
      float: right;
    }
    p.propertyNumberNight{
      padding: 15px 0 0;
      border-top: 1px solid #ccc;
      margin-top: 20px;
    }
    .propetyDate{
      padding: 30px 15px !important;
      p {
          font-size: 15px;
      }
      ion-col:nth-child(2) p{
        text-align: right;
      }
    }
  }
  tabbar{
    display: none !important;
  }
  ion-footer {
    padding: 5px 10px;
    p{
      font-size: 16px;
      margin: 0;
      padding: 10px 0;
    }
    button{
      &.button-md,
      &.button-ios,
      &.button-wp{
        background: #ff2b36;
        text-transform: none;
        font-size: 12px;
      }
    }
    ion-col:nth-child(2){
      position: relative;
      right: 10px;
    }
  }
}
