page-single {
  ion-header{
    ion-icon{
      color: $white;
      position: absolute;
      top: 10%;
      left: 5%;
      font-size: 30px;
      font-weight: bold;
    }
  }
  ion-content{
    .desc{
      color: $main;
      font-family: poppinssemibold;
      text-transform: uppercase;
      margin: 0;
      letter-spacing: 0.04em;
      font-size: 11px;
    }
    h4{
      margin: 5px 0 15px;
      font-size: 16px;
      font-family: poppinssemibold;
    }
    .photo{
      margin-top: 10px;
      font-size: 2.2em;
    }
    .content-ios hr{
      height : auto!important;
    }
    .button-ios{
      font-size : 10px;
      background-color: $main;
    }
    p{
      font-size: 12px;
      font-family: poppinslight;
      margin: 0;
    }
    .pixel {
      height: 1px;
    }
    ion-col{
      padding: 0 !important;
    }
    .propertyInfos {
        margin: 15px 0 25px;
    }
    .thumbProperty{
      width: 40px;
      height: 40px;
      background: url(../../assets/imgs/profil.png);
      background-size: cover;
      background-position: center;
      border-radius: 100%;
      float: right;
    }
  }
}
