page-modal {
  ion-content {
    background: -moz-linear-gradient(top, $main 0%, $main 0%, $main 0%, $gradientTop 100%);
    background: -webkit-linear-gradient(top, $main 0%, $main 0%, $main 0%, $gradientTop 100%);
    background: linear-gradient(to bottom, $main 0%, $main 0%, $main 0%, $gradientTop 100%);
    ion-list {
      .list-ios > .item-block:first-child {
        border-top: none !important;
      }
      ion-item {
        background-color: transparent !important;
        color: $white !important;
        border-top: none !important;
      }
      .createAccountButton {
        background-color: $white;
        border: $white;
        margin-top: 50px;
        width: 100%;
        color: $black;
      }
    }
  }
}
