page-modal {
  ion-content {
    background: -moz-linear-gradient(top, $main 0%, $main 0%, $main 0%, $gradientTop 100%);
    background: -webkit-linear-gradient(top, $main 0%, $main 0%, $main 0%, $gradientTop 100%);
    background: linear-gradient(to bottom, $main 0%, $main 0%, $main 0%, $gradientTop 100%);
    ion-list {
      .list-ios > .item-block:first-child {
        border-top: none !important;
      }
      ion-item {
        background-color: transparent !important;
        color: $white !important;
        border-top: none !important;
      }
      .createAccountButton {
        background-color: $white;
        border: $white;
        margin-top: 50px;
        width: 100%;
        color: $black;
        padding: 24px 0;
        span {
          font-size: 13px;
          font-family: poppinssemibold;
          text-transform: none;
        }
      }
    }
    .list-md,
    .list-ios,
    .list-wp{
      .item-block .item-inner {
        border-bottom: 1px solid #ffffff;
        padding-right: 0;
        margin-right: 10px;
      }
      .label-md[floating],
      .label-ios[floating],
      .label-wp[floating]{
        color: #fff;
        font-size: 16px;
        font-family: poppinsmedium;
      }
      .text-input.text-input-wp{
        border: none;
      }
    }
  }
  .loginModalHeader{
    .toolbar-title.toolbar-title-md,
    .toolbar-title.toolbar-title-ios,
    .toolbar-title.toolbar-title-wp {
        font-size: 15px;
        text-align: center;
        font-family: poppinssemibold;
        text-transform: none;
    }
  }
  .scroll-content{
    overflow: hidden;
  }
}
