page-profil {
  .content-ios hr {
    height: 1px!important;
  }
  .col{
    padding: 0;
    ion-icon{
      font-size: 2.2em;
      margin-top: 20%;
      color: $green;
    }
  }
  p{
    font-weight : lighter;
  }
}
