page-travels {
  ion-content{
    ion-card{
      box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.3);
      ion-card-title{
        font-family: poppinssemibold;
        font-size: 15px !important;
        padding: 10px !important;
        .date{
          color: #eb3640;
          font-family: poppinsbold;
          font-size: 10px;
          text-transform: uppercase;
          letter-spacing: 0.04em;
        }
      }
      ion-card-content{
        .icone{
          border : 1px solid $main;
          border-radius: 7px;
          ion-icon{
            color: $main;
          }
        }
        [col-8]{
          margin-right: 15px;
          padding: 6px 0;
        }
        p{
          font-size: 13px;
        }
      }
    }
  }
  .scroll-content{
    padding-top: 0 !important;
  }
  .travelsTimeLine, .travelsInfos {
      float: left;
  }
  .travelsTimeLine {
      width: 2px;
      height: 450px;
      background: #e5e5e5;
      margin: 0 10px;
      position: relative;
      &::before{
        content: "";
        width: 2px;
        height: 45px;
        position: absolute;
        top: 0;
        left: 0;
        background: #ee313d;
      }
  }
  .travelsInfos {
      width: 265px;
      padding-left: 10px;
      padding-top: 40px;
      h4{
        color: #3c3c3c;
        font-family: poppinsbold;
        font-size: 14px;
        position: relative;
        &::before{
            content: "";
            display: block;
            width: 8px;
            height: 8px;
            background: #ee313d;
            border: 2px solid #fff;
            border-radius: 100%;
            position: absolute;
            top: 2px;
            left: -27px;
        }
      }
  }
}
