// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

@font-face{
	font-family: PoppinsExtraLight;
	src: url('../assets/fonts/poppinsextralight.woff2') format('woff2');
}

@font-face{
	font-family: PoppinsLight;
	src: url('../assets/fonts/poppinslight.woff2') format('woff2');
}

@font-face{
	font-family: Poppins;
	src: url('../assets/fonts/poppins.woff2') format('woff2');
}

@font-face{
	font-family: PoppinsMedium;
	src: url('../assets/fonts/poppinsmedium.woff2') format('woff2');
}

@font-face{
	font-family: PoppinsSemiBold;
	src: url('../assets/fonts/poppinssemibold.woff2') format('woff2');
}

@font-face{
	font-family: PoppinsBold;
	src: url('../assets/fonts/poppinsbold.woff2') format('woff2');
}

@font-face{
	font-family: PoppinsExtraBold;
	src: url('../assets/fonts/poppinsextrabold.woff2') format('woff2');
}
 
*{
	font-family: Poppins;
}


// Tabs icons
// --------------------------------------------------
ion-tabs a.tab-button{
	span.tab-button-text{
		text-transform: uppercase;
		font-size: 10px !important;
	    letter-spacing: 0.04em;
	    font-family: poppinsbold;
	    transform: none !important;
		&::before{
			content: "";
			display: block;
			width: 20px;
			height: 20px;
			margin: auto;
		    margin-bottom: 3px;
		}
	}
	&:first-child span.tab-button-text::before{
		content: url(../assets/imgs/duckicon-explorer.svg);
	}
	&[aria-selected="true"]{
		&[aria-controls="tabpanel-t0-0"] span.tab-button-text{
			color: #eb3640;
			&::before{
				content: url(../assets/imgs/duckicon-explorer-active.svg);
			}
		}
	}
	&:nth-child(2) span.tab-button-text::before{
		content: url(../assets/imgs/duckicon-voyages.svg);
	}
	&[aria-selected="true"]{
		&[aria-controls="tabpanel-t0-1"] span.tab-button-text{
			color: #eb3640;
			&::before{
				content: url(../assets/imgs/duckicon-voyages-active.svg);
			}
		}
	}
	&:nth-child(3) span.tab-button-text::before{
		content: url(../assets/imgs/duckicon-profil.svg);
	}
	&[aria-selected="true"]{
		&[aria-controls="tabpanel-t0-2"] span.tab-button-text{
			color: #eb3640;
			&::before{
				content: url(../assets/imgs/duckicon-profil-active.svg);
			}
		}
	}
}

.tabs-wp[tabsPlacement=bottom] .tab-button{
  border: 0 important;
}

ion-tabs.tabs.tabs-ios .tabbar{
	padding: 7px 0;
}